body {
    background-color: black;
    text-align: center;
  }

.clock{
    font: 40px "Century Gothic", Futura, sans-serif;
    color: white;
}

.date{    
    font: 20px "Century Gothic", Futura, sans-serif;
    color: violet;


}